{% block nav-bar %}
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>LugaFato- Fashion Ecommerce Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="static/img/core-img/Lugafatologo.png ">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="static/css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="static/css/responsive.css" rel="stylesheet">

</head>

<body>
    {% comment %} list of catagories {% endcomment %}
    
    <div class="catagories-side-menu">
        <!-- Close Icon -->
        <div id="sideMenuClose">
            <i class="ti-close"></i>
        </div>
        <!--  Side Nav  -->
        <div class="nav-side-menu">
            <div class="menu-list">
                <h6>Categories</h6>
                <ul id="menu-content" class="menu-content collapse out">
                    <!-- Single Item -->
                    {% for lists in Catagories %}
                    <li data-toggle="collapse" data-target="#women" class="collapsed active">
                        <a href="product/{{ lists.id }}">{{lists.name}}</a>
                        {% endfor %}
                    
                    
                   
                   
                    
                </ul>
            </div>
        </div>
    </div>

    
    <div id="wrapper">
        <!-- ****** Header Area Start ****** -->
        <header class="header_area">
            <!-- Top Header Area Start -->
            <div class="top_header_area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">

                        <div class="col-12 col-lg-7">
                            <div class="top_single_area d-flex align-items-center">
                                <!-- Logo Area -->
                                <div class="top_logo">
                                    <div class="d-flex align-items-left" style="height: 100px; width: 100px;">
                                    <a href="#"><img src="static/img/core-img/Lugafatologo.png" alt=""></a>
                                </div>
                            </div>
                                <!-- Cart & Menu Area -->
                                <div class="header-cart-menu d-flex align-items-center ml-auto">
                                    <!-- Cart Area -->
                                   
                                    <div class="cart">
                                        {% load cart_tag %}
                                        
                                        <a href="#" id="header-cart-btn" target="_blank">
                                            <span class="cart_quantity">{{request.session.cart|length}}</span> 
                                            <i class="ti-bag"> </i> </a>
                                        <!-- Cart List Area Start -->
                                        <ul class="cart-list">
                                          
                                            {% for key,value in request.session.cart.items %}
                                            <li>
                                                <a href="#" class="image"><img src="{{value.image}}" class="cart-thumb" alt=""></a>
                                                <div class="cart-item-desc">
                                                    <h6><a href="#">{{value.name}}</a></h6>
                                                    <p>{{value.quantity}}x - <span class="price:">{{value.price}} </span></p>
                                                </div>
                                                <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                            </li>
                                            
                                            
                                            <li class="total">
                                                <span class="pull-right">Price: {{ value.price|multiply:value.quantity }}</span>
                                                {% endfor %}
                                            </li>
                                            <li>
                                                <a href="{% url 'cart_clear' %}" class="btn btn-sm btn-cart">clear</a>
                                                <a href="checkout\" class="btn btn-sm btn-checkout">Checkout</a>
                                                <span class="pull-right">Item:  {{request.session.cart|length}} </span>

                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="header-right-side-menu ml-15">
                                        <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
<div class="main_header_area">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 d-md-flex justify-content-between">
                <!-- Header Social Area -->
                <div class="header-social-area">
                    <a href="#"><span class="karl-level">Share</span> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <!-- Menu Area -->
                <div class="main-menu-area">
                    <nav class="navbar navbar-expand-lg align-items-start">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                        <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                            <ul class="navbar-nav animated" id="nav">
                                <li ><a class="nav-link" href="{% url "index"%}">Home</a></li>
                                <li><a class="nav-link" href="{% url "store"%}">Shop</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                                
                                {% if user.is_authenticated %}
                            <p>Welcome, {{ user.username }}!</p>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" >Logout</a></li>
                                {% else %}
                                <li class="nav-item"><a class="nav-link" href="/login">login</a></li>
                               <p>Guest user</p>
                                {% endif %}

                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- Help Line -->
                <div class="help-line">
                    <a href="tel:+123456789"><i class="ti-headphone-alt"></i> +12 34 56 78 90</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock nav-bar %}

