{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>LugaFato- Fashion Ecommerce Template | Shop</title>

    <!-- Favicon  -->
    <link rel="icon" href=href='{% static "/img/core-img/Lugafatologo.png" %}'>
    {% comment %} <link rel="icon" href={% static "/img/core-img/favicon.ico"%}> {% endcomment %}

    <!-- Core Style CSS -->
    
    <link rel="stylesheet" href="{% static 'product' %}">
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static "static/style.css" %}"> {% endcomment %}
    <!-- Responsive CSS -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include "nav-bar.html" %}
            
        
        
        
            
            {% for list in product %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="{{list.image.url}}" class="img-fluid" alt="Product Image">
      </div>
      <div class="col-md-6">
        <h2>{{list.name}}</h2>
        <p class="text-muted">{{list.category}}</p>
        <h4 class="text-primary">Rs.{{list.price}}</h4>
        <p class="mt-4">{{list.description}}</p>
        <div class="rating">
          <h5>Rating:</h5>
          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          <span class="text-muted">(4.0)</span>
        </div>
        <div class="seller-info mt-4">
          <h5>Seller Information:</h5>
          <p class="text-muted">{{list.supplier}}</p>
        </div>
        <div class="reviews mt-4">
          <h5>Customer Reviews:</h5>
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Reviewer Name</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mauris vitae
                eleifend vestibulum. Donec a ligula in neque posuere viverra eu id magna.</p>
              <div class="rating">
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Reviewer Name</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mauris vitae
                eleifend vestibulum. Donec a ligula in neque posuere viverra eu id magna.</p>
              <div class="rating">
                <span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span>
              </div>
            </div>
          </div>
        </div>
        <button><a href="{% url 'cart_add' list.id %}"class="add-to-cart-btn">ADD TO CART</a></button>
      </div>
    </div>
  </div>
  {% endfor %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        {% include "footer.html" %}
    </body>
</html>