{% load static %}
<div id="wrapper">
<header class="header_area">
    <!-- Top Header Area Start -->
    <div class="top_header_area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-end">

                <div class="col-12 col-lg-7">
                    <div class="top_single_area d-flex align-items-center">
                        <!-- Logo Area -->
                        <div class="top_logo">
                            <div class="d-flex align-items-left" style="height: 100px; width: 100px;">
                            <a href="#"><img src='{% static "/img/core-img/Lugafatologo.png" %}' alt=""></a>
                        </div>
                    </div>
                        <!-- Cart & Menu Area -->
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% include "nav-bar.html" %}
    <!-- Top Header Area End -->
    
</header>
</div>